In [16]:
library(dplyr)
library(Hmisc)

# Read CSV ----------------------------------------------------------------
airfare <- read.csv("~/notebooks/AirFare/Data/tripRequest.csv", header=TRUE, dec=".", sep=";")

# [DataFrame] Drop double&uncess informtion --------------------------------------
airfare <- subset(airfare, select = -c(requestString,tripRequest_id,requestDate,tripReturn,sliceDuration,tripStart,tripDestination))
airfare <- subset(airfare, select = -c(trip_id.1,trip_id.2,trip_id.3))
airfare <- subset(airfare, select = -c(tripOrder.1,tripOrder.2))
airfare <- subset(airfare, select = -c(tripRequest_id.1))

# Data Formats ------------------------------------------------------------
airfare$package <- as.POSIXct(strptime(airfare$package, "%d-%m-%Y"))
airfare$tripStartDeparture <- as.POSIXct(strptime(airfare$tripStartDeparture, "%Y-%m-%d %H:%M:%S"))
airfare$tripDestinationDeparture <- as.POSIXct(strptime(airfare$tripDestinationDeparture, "%Y-%m-%d %H:%M:%S"))
airfare$arrivalTime <- as.POSIXct(strptime(airfare$arrivalTime, "%Y-%m-%d %H:%M:%S"))
airfare$departureTime <- as.POSIXct(strptime(airfare$departureTime, "%Y-%m-%d %H:%M:%S"))

Attaching package: ‘dplyr’

The following objects are masked from ‘package:Hmisc’:

    combine, src, summarize

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [17]:
# Splitting Data into smaller Packages ------------------------------------
#data.fare <- airfare %>% group_by(trip_id) %>% summarise(saleTotal = mean(saleTotal, na.rm=TRUE))
subset.fares <- filter(airfare, marriedSegmentGroup==0) #Only one trip necessary for pricing
subset.fares <- subset.fares %>% select(trip_id, package, tripStartDeparture, flightCarrier, saleTotal, operatingDisclosure) %>% group_by(trip_id)

# output
summary(subset.fares)

    trip_id          package                    tripStartDeparture
 Min.   :103973   Min.   :2015-02-22 00:00:00   Min.   :2015-02-22 08:20:01
 1st Qu.:152118   1st Qu.:2015-03-03 00:00:00   1st Qu.:2015-03-29 17:10:02
 Median :195336   Median :2015-03-13 00:00:00   Median :2015-04-09 11:20:02
 Mean   :194620   Mean   :2015-03-15 16:10:00   Mean   :2015-04-06 18:31:14
 3rd Qu.:238633   3rd Qu.:2015-03-27 00:00:00   3rd Qu.:2015-04-17 17:10:02
 Max.   :279438   Max.   :2015-04-24 00:00:00   Max.   :2015-04-24 17:10:02
 flightCarrier   saleTotal                 operatingDisclosure
 AF: 1356      Min.   : 446.8   NULL                 :27732
 KL: 1935      1st Qu.: 668.2   OPERATED BY DELTA    : 3291
 LH:25840      Median : 819.5   OPERATED BY LUFTHANSA:19007
 SQ: 1692      Mean   : 862.7   OPERATED BY UNITED   : 7010
 UA:26217      3rd Qu.: 981.5
               Max.   :2825.2

In [18]:
fivenum(subset.fares$saleTotal)

[1]  446.80  668.22  819.54  981.46 2825.22

In [19]:
describe(subset.fares)

subset.fares

 6  Variables      57040  Observations
--------------------------------------------------------------------------------
trip_id
      n missing  unique    Info    Mean     .05     .10     .25     .50     .75
  57040       0   57040       1  194620  112511  121130  152118  195336  238633
    .90     .95
 263487  272088

lowest : 103973 103976 103977 103978 103979
highest: 279427 279428 279435 279436 279438
--------------------------------------------------------------------------------
package
         n    missing     unique       Info       Mean        .05        .10
     57040          0         62          1 2015-03-16 2015-02-24 2015-02-25
       .25        .50        .75        .90        .95
2015-03-03 2015-03-13 2015-03-27 2015-04-07 2015-04-12

lowest : 2015-02-22 2015-02-23 2015-02-24 2015-02-25 2015-02-26
highest: 2015-04-20 2015-04-21 2015-04-22 2015-04-23 2015-04-24
--------------------------------------------------------------------------------
tripStartDeparture
                  n             missing              unique                Info
              57040                   0                 335                   1
               Mean                 .05                 .10                 .25
2015-04-06 18:31:14 2015-03-10 10:50:01 2015-03-16 13:30:01 2015-03-29 17:10:02
                .50                 .75                 .90                 .95
2015-04-09 11:20:02 2015-04-17 17:10:02 2015-04-22 10:50:02 2015-04-23 13:20:02

lowest : 2015-02-22 08:20:01 2015-02-22 10:50:01 2015-02-22 11:05:01 2015-02-22 13:30:01 2015-02-22 13:45:01
highest: 2015-04-24 10:50:02 2015-04-24 11:20:02 2015-04-24 13:20:02 2015-04-24 13:45:02 2015-04-24 17:10:02
--------------------------------------------------------------------------------
flightCarrier
      n missing  unique
  57040       0       5

            AF   KL    LH   SQ    UA
Frequency 1356 1935 25840 1692 26217
%            2    3    45    3    46
--------------------------------------------------------------------------------
saleTotal
      n missing  unique    Info    Mean     .05     .10     .25     .50     .75
  57040       0    3156       1   862.7   526.5   625.3   668.2   819.5   981.5
    .90     .95
 1149.5  1324.6

lowest :  446.8  478.0  478.5  484.3  487.4
highest: 2384.6 2534.6 2535.2 2821.5 2825.2
--------------------------------------------------------------------------------
operatingDisclosure
      n missing  unique
  57040       0       4

NULL (27732, 49%), OPERATED BY DELTA (3291, 6%)
OPERATED BY LUFTHANSA (19007, 33%)
OPERATED BY UNITED (7010, 12%)
--------------------------------------------------------------------------------