In [1]:
library(dplyr)
library(lattice)
library(reshape2)
library(Hmisc)
library(gplots)
# Read CSV ----------------------------------------------------------------
airfareCSV <- read.csv("~/notebooks/AirFare/Data/tripRequest.csv", header=TRUE, dec=".", sep=";")
# [DataFrame] Drop double&uncess informtion --------------------------------------
airfare <- subset(airfareCSV, select = -c(requestString,tripRequest_id,requestDate,tripReturn,sliceDuration,tripStart,tripDestination))
airfare <- subset(airfare, select = -c(trip_id.1,trip_id.2,trip_id.3))
airfare <- subset(airfare, select = -c(tripOrder.1,tripOrder.2))
airfare <- subset(airfare, select = -c(tripRequest_id.1))

# Data Formats ------------------------------------------------------------
airfare$package <- as.POSIXct(strptime(airfare$package, "%d-%m-%Y"))
airfare$tripStartDeparture <- as.POSIXct(strptime(airfare$tripStartDeparture, "%Y-%m-%d %H:%M:%S"))
airfare$tripDestinationDeparture <- as.POSIXct(strptime(airfare$tripDestinationDeparture, "%Y-%m-%d %H:%M:%S"))
airfare$arrivalTime <- as.POSIXct(strptime(airfare$arrivalTime, "%Y-%m-%d %H:%M:%S"))
airfare$departureTime <- as.POSIXct(strptime(airfare$departureTime, "%Y-%m-%d %H:%M:%S"))

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

Loading required package: grid
Loading required package: survival
Loading required package: Formula
Loading required package: ggplot2

Attaching package: ‘Hmisc’

The following objects are masked from ‘package:dplyr’:

    combine, src, summarize

The following objects are masked from ‘package:base’:

    format.pval, round.POSIXt, trunc.POSIXt, units


Attaching package: ‘gplots’

The following object is masked from ‘package:stats’:

    lowess

In [4]:
filter(airfare, trip_id==118949) #Only one trip necessary for pricing
filter(airfare, trip_id==118950) #Only one trip necessary for pricing

     package trip_id saleTotal  tripStartDeparture tripDestinationDeparture
1 2015-02-27  118949    731.46 2015-03-05 10:50:01      2015-03-12 20:20:04
2 2015-02-27  118949    731.46 2015-03-05 10:50:01      2015-03-12 20:20:04
  tripOrder tripDuration cabin bookingCode bookingCodeCount marriedSegmentGroup
1         0          535 COACH           L                9                   0
2         1          475 COACH           L                4                   1
  flightCarrier flightNumber aircraft         arrivalTime       departureTime
1            LH          400      346 2015-03-05 13:45:05 2015-03-05 10:50:01
2            LH         7602      764 2015-03-13 09:15:01 2015-03-12 20:20:04
  origin destination duration operatingDisclosure mileage meal
1    FRA         JFK      535                NULL    3844 Meal
2    EWR         FRA      475  OPERATED BY UNITED    3857 Meal

     package trip_id saleTotal  tripStartDeparture tripDestinationDeparture
1 2015-02-27  118950    731.46 2015-03-05 10:50:01      2015-03-12 16:55:04
2 2015-02-27  118950    731.46 2015-03-05 10:50:01      2015-03-12 16:55:04
  tripOrder tripDuration cabin bookingCode bookingCodeCount marriedSegmentGroup
1         0          535 COACH           L                9                   0
2         1          455 COACH           L                9                   1
  flightCarrier flightNumber aircraft         arrivalTime       departureTime
1            LH          400      346 2015-03-05 13:45:05 2015-03-05 10:50:01
2            LH          401      346 2015-03-13 05:30:01 2015-03-12 16:55:04
  origin destination duration operatingDisclosure mileage meal
1    FRA         JFK      535                NULL    3844 Meal
2    JFK         FRA      455                NULL    3844 Meal